body {
    font-family: Tahoma;
}
.base {
    padding: 20px;
}
.form {
    width: 500px;
    height: 100px;
}
.previewContainer {
    width: 200px;
    height: 200px;
}
.imagePreview {
    display: inline-block;
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
}
.buttonConvert {
    display: inline-block;
    margin-left: 20px;
}
table {
    border-collapse: collapse;
    width: 50%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
a {
    cursor: pointer;
    color: #1E90FF;
}